[Unit]
Description=CAN Interface Reader for Digital Cluster
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/digital_cluster/sensors/can_interface.py
WorkingDirectory=/home/pi/digital_cluster/sensors
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target